<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>application</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8 justify-center flex">

        <div class="py-2 inline-block  sm:px-6 lg:px-8 w-[70%]">
            <div class="overflow-hidden">
                <table class="min-w-full">

                    <tbody>

                    <th:block th:each="item : ${applicationList}">
                        <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">

                            <td class="px-6 py-4 text-sm font-medium text-gray-900">
                                image([[${item .id}]])
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4">
                                titile<br>capany name<br>address
                                [[${item .email}]]<br>
                                [[${item .firstName}]]
                            </td>
                            <td class="text-sm text-gray-900 font-light px-6 py-4">

                                <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" th:href="@{'/user/application/edit/' +${item.id}}">Update status</a>


                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>