<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>signUpForm</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="container mx-auto px-6 py-3 justify-center flex">
  <div class="w-full max-w-xs">
    <h1 class="text-[200%] font-bold py-10">Log in your Account</h1>
    <form th:action="@{/login}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

      <div class="container mx-auto px-6 py-3 justify-center flex">
        <div class="w-full max-w-xs ">

          <form th:action="@{/processRegister}" th:object="${user}" method="post"
                class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email
              </label>
              <input name="email" required
                     class="shadow  border-b rounded w-full py-2 px-3 text-gray-700 leading-tight  focus:outline-none"
                     id="email" type="email" placeholder="Email">
            </div>

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
              </label>
              <input name="password" required
                     class="shadow  border-b rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none "
                     id="password" type="password" placeholder="******************">
            </div>

            <div class="flex items-center justify-between">
              <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="submit">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </form>

  </div>
</div>






</body>
</html>